# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Flask
instance/

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db